
/* src/App.css */
@keyframes waterfall {
  0% {
    transform: translateY(-100%); /* Começa acima da tela */
  }
  100% {
    transform: translateY(100vh); /* Termina abaixo da tela */
  }
}


body {
  background-color: rgba(75, 75, 75, 0.212);
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove paddings padrão do body */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

.App {
  text-align: center;
  width: 100%; /* Ocupa toda a largura da tela */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */
.App {
  text-align: center;
}

.image-container {
  margin-top: 15%;
  position: relative; /* Permite que o PixelGrid seja posicionado sobre a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  
  max-width: 100%;
  height: auto;

  display: block; /* Remove espaços extras abaixo da imagem */
  height: auto; /* Altura original da imagem */
}
/* src/App.css */
@media (max-width: 768px) {
  .App {
    padding-top: 50px; /* Ajuste o padding para telas menores */
  }
  .image-container {
    margin-top: 25%;
  }
  .center-image {
    max-width: 90%; /* Reduza o tamanho da imagem em telas menores */
  }
}

@media (max-width: 480px) {
  .App {
    padding-top: 40px; /* Ajuste adicional para telas muito pequenas */
  }
  .image-container {
    margin-top: 28%;
  }
  .center-image {
    max-width: 80%; /* Reduza ainda mais o tamanho da imagem */
  }
}

