/* src/App.css */

/* Animação waterfall */
@keyframes waterfall {
  0% {
    transform: translateY(-100%); /* Começa acima da tela */
  }
  100% {
    transform: translateY(100vh); /* Termina abaixo da tela */
  }
}

/* Estilos globais */
body {
  background-color: rgba(75, 75, 75, 0.212);
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove paddings padrão do body */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

/* Estilos do App */
.App {
  text-align: center;
  width: 100%; /* Ocupa toda a largura da tela */
}

/* Estilos do logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animação do logo (se a preferência por redução de movimento estiver desativada) */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos do header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Estilos do link */
.App-link {
  color: #61dafb;
}

/* Animação de rotação do logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container da imagem */
.image-container {
  position: relative; /* Permite que o PixelGrid seja posicionado sobre a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* 10px abaixo do Navbar */
}

/* Estilos da imagem central */
.center-image {
  max-width: 100%;
  height: auto;
  display: block; /* Remove espaços extras abaixo da imagem */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .App {
    padding-top: 50px; /* Ajuste o padding para telas menores */
  }
  .image-container {
    margin-top: 200px; /* Mantém 10px abaixo do Navbar */
  }
  .center-image {
    max-width: 90%; /* Reduza o tamanho da imagem em telas menores */
  }
}

@media (max-width: 480px) {
  .App {
    padding-top: 40px; /* Ajuste adicional para telas muito pequenas */
  }
  .image-container {
    margin-top: 150px; /* Mantém 10px abaixo do Navbar */
  }
  .center-image {
    max-width: 80%; /* Reduza ainda mais o tamanho da imagem */
  }
}
